.backgroundFly {
    background-image: url('../../../assets/img/travel.jpg');
    height: height;
}

.flexCenterSearch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.containerListReservations {
    width: 100%;

}