.backgroundFlySearch {
    background-image: url('../../../../assets/img/imgsPlaces/travel.jpg');
    background-size: cover;
}

.flexCenterSearch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.containerListReservations {
    width: 100%;

}