.backgroundFlyHome {
    background-image: url('../../../assets/img/travel.jpg');
    
    height: auto;
}

    .flexCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        flex-wrap: wrap;
    }

    .center {
        display: flex;
        justify-content: center;
    }
    .flexTop {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: auto;
    }
    .font {

        font-family: 'Poppins', sans-serif;
        font-weight: bold

    }

   

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');




