.background {
    background-image: url('../../../assets/img/travel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.title {
    color: white;
}